extends ../efmm-layout01
block style    
  link(rel='stylesheet', href='/efmm/assets/css/d3_timeseries.css')
  link(type='text/css', rel='stylesheet', href='/common/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css')
block script  
  script(type='text/javascript', src='/common/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js')
  script(type='text/javascript', src='/efmm/assets/scripts/d3_dc.js')
  script(type='text/javascript', src="/common/scripts/util.js")
  script(type='text/javascript', src="/efmm/assets/scripts/d3_timeseries_4.js")
  script(type='text/javascript', src="/efmm/scripts/timeseries.js")
block content
  .container-fluid
    .page-content
      .breadcrumbs
        h1 Time Series
        ol.breadcrumb
          li
            a(href='#') Home
          li
            a(href='#') Time Series
          li.active Time Series
      .row
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase.font-blue-sharp Set date and area
                span.caption-helper Date range and select area
              .actions
                .btn-group.btn-group-devided(data-toggle='buttons')
                  label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm.active
                    input#syncY.toggle(type='radio', name='options', checked='Y')
                    i.fa.fa-chain Sync
                  label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm
                    input#syncN.toggle(type='radio', name='options')
                    i.fa.fa-chain-broken Async
            .portlet-body.form
              form.form-horizontal.form-bordered(onsubmit="return false;")
                .form-body
                  .form-group.last
                    label.control-label.col-md-2 Start Time                    
                    .col-md-3
                      input#baseTime.form-control.form_datetime(size='20', type='text', name='from', value='' data-date-format='YYYY-MM-DD HH:mm:ss')
                    label.control-label.col-md-2 Time Range
                    .col-md-4.form-inline                      
                      select#gap.form-control.input-small.select2me.form-md-line-input(data-placeholder='Select Range' onchange='checkTimeGap()')
                        option(value='1') 1min
                        option(value='5') 5min
                        option(value='10') 10min
                        option(value='30') 30min
                        option(value='60') 1hour
                        option(value='360') 6hours
                        option(value='720') 12hours
                        option(value='1440') 1day
                        option(value='10080') 7days
                      button#btn_search.btn.blue
                        i.fa.fa-search Search
      .row
        .col-md-6
          .portlet.light
            .portlet-title
              .caption
                select#cid1.form-control.input-small.select2me.form-md-line-input(onchange='drawChart01()')
                  each data in list    
                    if data==match.chart01
                      option(selected='selected') #{data}
                    else                                        
                      option #{data}
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body
              .chart
                #ts-chart01
        .col-md-6
          .portlet.light.bordered
            .portlet-title
              .caption
                select#cid2.form-control.input-small.select2me.form-md-line-input(onchange='drawChart02()')
                  each data in list    
                    if data==match.chart02
                      option(selected='selected') #{data}
                    else                                        
                      option #{data}
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body
              .chart
                #ts-chart02
      .row
        .col-md-6
          .portlet.light
            .portlet-title
              .caption
                select#cid3.form-control.input-small.select2me.form-md-line-input(onchange='drawChart03()')
                  each data in list    
                    if data==match.chart03
                      option(selected='selected') #{data}
                    else                                        
                      option #{data}
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body
              .chart
                #ts-chart03
        .col-md-6
          .portlet.light.bordered
            .portlet-title
              .caption
                select#cid4.form-control.input-small.select2me.form-md-line-input(onchange='drawChart04()')
                  each data in list    
                    if data==match.chart04
                      option(selected='selected') #{data}
                    else                                        
                      option #{data}
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body
              .chart
                #ts-chart04



