



    - each item, index in rtnData

      div.row-item(id='divImage_#{item.id}')

        form(id='frmImage_#{item.id}', name='frmImage_#{item.id}', enctype='multipart/form-data')

          input#id(name='id', type='hidden', value='#{item.id}')

          input#seq(name='seq', type='hidden', value='#{item.seq}')

          fieldset

            legend.row-title 내부 이미지 - #{item.id}

            ol.settings-item

              li.row-item

                div.photo-preview.left

                  img(id='photo-upload-preview_#{item.id}' src='#{item.image_path}')

                div

                  input.btnuploadphoto(type='file' name='uploadnewphoto' key='#{item.id}')

                div(style='display:none')

                  input(id='image_path_#{item.id}', name='image_path', type='input', value='#{item.image_path}')

                div.error-message(id='photo-upload-error-box_#{item.id}')

                div.accepted-photo-types .jpg, .gif, .png. 최대 파일 크기는 700K입니다.

              li.row-item

                label.label-title.required 제목

                input.TextInput.TextInput_60(id='title_#{item.id}', name='title', type='text', value='#{item.title}', required)

              li.row-item

                label.label-title 설명

                input.TextInput.TextInput_60(id='description_#{item.id}', name='description', type='text', value='#{item.description}')

              li.row-item

                div.info-message(id='successmsg_#{item.id}')

                div.error-status.error-message(id='errormsg_#{item.id}')

              li.row-item

                input.Btn.Btn_emph(name='save', type='button', value='저장' key='#{item.id}')

                input.Btn.Btn_emph(name='delete', type='button', value='삭제' key='#{item.id}')

                - if(index === 0)

                  input.Btn.Btn_emph(name='movedown', type='button', value='아래로' key='#{item.id}')

                - else if (index === (rtnData.length-1))

                  input.Btn.Btn_emph(name='moveup', type='button', value='위로' key='#{item.id}')

                - else

                  input.Btn.Btn_emph(name='moveup', type='button', value='위로' key='#{item.id}')

                  input.Btn.Btn_emph(name='movedown', type='button', value='아래로' key='#{item.id}')