extends ../layout-type01
block style
block script
  script(type='text/javascript', src='/efsl/scripts/management_user_edit.js')
block content
  .container-fluid
    .page-content
      .breadcrumbs
        h1 Edit User
        ol.breadcrumb
          li
            a(href='/dashboard') Home
          li
            a(href='#') Management
          li
            a(href='/management/users') Users
          li.active Edit User
      .row
        .col-md-12
          .portlet.light
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze User Information
                span.caption-helper  Update user information
            .portlet-body.from
              form#update_account.form-horizontal.form-bordered(onsubmit="return false;")
                .form-body
                  .form-group
                    label.control-label.col-md-5 User ID
                    input#id(type='hidden', name='id', value=user._id)
                    .col-md-3
                      span #{user._source.user_id}
                      input#userid(type='hidden', name='userid', value=user._source.user_id)
                  .form-group
                    label.control-label.col-md-5 Name
                    .col-md-3
                      input#username.form-control.form-control-inline.input-large(size='16', type='text', value=user._source.user_name, placeholder='Username', name='username')
                  .form-group
                    label.control-label.col-md-5 Password
                    .col-md-3
                      input#register_password.form-control.form-control-inline.input-large(size='16', type='password', value=user._source.user_pw, placeholder='password', name='password')
                  .form-group
                    label.control-label.col-md-5 Re-type Your Password
                    .col-md-3
                      input#register_password_1.form-control.form-control-inline.input-large(size='16', type='password', value=user._source.user_pw, placeholder='password', name='password_1')
                  .form-group
                    label.control-label.col-md-5 Position
                    .col-md-3
                      input#position.form-control.form-control-inline.input-large(size='16', type='text', value=user._source.position, placeholder='position', name='position')
                  .form-group
                    label.control-label.col-md-5 Tel
                    .col-md-3
                      input#tel.form-control.form-control-inline.input-large(size='16', type='text', value=user._source.tel, placeholder='tel', name='tel')
                  .form-group
                    label.control-label.col-md-5 Mobile
                    .col-md-3
                      input#mobile.form-control.form-control-inline.input-large(size='16', type='text', value=user._source.mobile, placeholder='mobile', name='mobile')
                  .form-group
                    label.control-label.col-md-5 Email
                    .col-md-3
                      input#email.form-control.form-control-inline.input-large(size='16', type='text', value=user._source.user_email, placeholder='email', name='email')
                  .form-group
                    label.control-label.col-md-5 Whether or not
                    .col-md-3
                      label.control-label.visible-ie8.visible-ie9 Whether or not
                      select#use.select2.form-control(data-show-subtext='true', name='use')
                        if user._source.use=='Use'
                          option(value='', selected='selected') #{user._source.use}
                          option Not
                        else
                          option Use                                
                          option(value='', selected='selected') #{user._source.use}
                  .form-group
                    label.control-label.col-md-5 Note
                    .col-md-5
                      input#note.form-control.form-control-inline.input-large(size='100', type='text', value=user._source.note, placeholder='note', name='note')
                  .form-group
                    label.control-label.col-md-5 Atteched                    
                    .col-md-3
                      each map in maps
                        .form-group
                          .col-md-6
                            span #{map._source.role_id}
                          .col-md-6
                            td                        
                            a.btn.default.btn-xs.balck(flag='deleteMem', memid=''+map._id)
                              i.fa.fa-trash-o
                              |  Delete
                  .form-group
                    #register_tnc_error(style='text-align:center;')
                    .col-md-10
                      button#register-submit-btn.btn.btn-default.blue.pull-right Save
                    .col-md-2
                      button.btn.btn-default(type='button', onclick="location.href='/management/users'") Cancel               
            .portlet-footer
    p.copyright Copyright M2U Technology All rights reserved.
    a.go2top(href='#index')
      i.icon-arrow-up