extends ../layout-type01
block style
block script
  script.
    $(document).ready(function() {
      $("#register-submit-btn").click(function() {
        if ($("#username").val() == "") {
          $("#username").focus();
          $("#register_tnc_error").html("User Name를 입력하세요.");
          $("#register_tnc_error").show();
          return false;
        }
        if ($("#register_password").val() == "") {
          $("#register_password").focus();
          $("#register_tnc_error").html("Password 를 입력하세요.");
          $("#register_tnc_error").show();
          return false;
        } else if ($("#register_password").val() != $("#register_password_1").val()) {
          $("#register_password").focus();
          $("#register_tnc_error").html("Password가 다릅니다. 다시 입력하세요.");
          $("#register_tnc_error").show();
          return false;
        }
        if ($("#email").val() == "") {
          $("#email").focus();
          $("#register_tnc_error").html("Email을 입력하세요.");
          $("#register_tnc_error").show();
          return false;
        } else {
          var a = $("#email").val().split('@');
          console.log(a);
          if (a[1] == null) {
            $("#email").focus();
            $("#register_tnc_error").html("Email주소를 정확히 입력하세요");
            $("#register_tnc_error").show();
            return false;
          }
        }

        // TODO 메시지 공통 영역으로
        if (confirm("저장 하시겠습니까? ")) {
          var userid = $("#userid").val();
          $.ajax({
            url: "/management/users/" + userid,
            dataType: "json",
            type: "PUT",
            data:$('#update_account').serialize(),
            success: function(result) {
              alert('(' + result.rtnCode.code + ')' +result.rtnCode.message);
              if (result.rtnCode.code == "D002") {
                location.href = "/management/users";
              }
            },
            error: function(req, status, err) {

              //- alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
              $("#errormsg").html("code:"+status+"\n"+"message:"+req.responseText+"\n"+"error:"+err);
            }
          });
        }
      });
      $("#username").keydown(function() {
        $("#register_tnc_error").html("");
        $("#register_tnc_error").hide();
      });
      $('a').click(function(event){
        //- event.preventDefault();
        if ('deleteMem' != $(this).attr('flag')) return;
        var userid = $('#userid').val();
        var memid = $(this).attr('memid');
        if (memid == "") {
          return false;
        }        
        // TODO 메시지 공통 영역으로
        if (confirm("삭제 하시겠습니까? ")) {
          $.ajax({
            url: "/management/mem/" + memid,
            dataType: "json",
            type: "DELETE",
            data: {memid : memid},
            success: function(result) {
              alert('(' + result.rtnCode.code + ')' +result.rtnCode.message);
              if (result.rtnCode.code == "D003") {
                location.href = "/management/users/"+userid;
              }
            },
            error: function(req, status, err) {
              $("#errormsg").html("code:"+status+"\n"+"message:"+req.responseText+"\n"+"error:"+err);
            }
          });
        }        
      });
    });
block content
  .container-fluid
    .page-content
      .breadcrumbs
        h1 Edit User
        ol.breadcrumb
          li
            a(href='/dashboard') Home
          li
            a(href='#') Management
          li
            a(href='/management/users') Users
          li.active Edit User
      .row
        .col-md-12
          .portlet.light
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze User Information
                span.caption-helper  Update user information
            .portlet-body.from
              form#update_account.form-horizontal.form-bordered(onsubmit="return false;")
                .form-body
                  .form-group
                    label.control-label.col-md-5 User ID
                    input#id(type='hidden', name='id', value=user._id)
                    .col-md-3
                      span #{user._source.user_id}
                      input#userid(type='hidden', name='userid', value=user._source.user_id)
                  .form-group
                    label.control-label.col-md-5 Name
                    .col-md-3
                      input#username.form-control.form-control-inline.input-large(size='16', type='text', value=user._source.user_name, placeholder='Username', name='username')
                  .form-group
                    label.control-label.col-md-5 Password
                    .col-md-3
                      input#register_password.form-control.form-control-inline.input-large(size='16', type='password', value=user._source.user_pw, placeholder='password', name='password')
                  .form-group
                    label.control-label.col-md-5 Re-type Your Password
                    .col-md-3
                      input#register_password_1.form-control.form-control-inline.input-large(size='16', type='password', value=user._source.user_pw, placeholder='password', name='password_1')
                  .form-group
                    label.control-label.col-md-5 Position
                    .col-md-3
                      input#position.form-control.form-control-inline.input-large(size='16', type='text', value=user._source.position, placeholder='position', name='position')
                  .form-group
                    label.control-label.col-md-5 Tel
                    .col-md-3
                      input#tel.form-control.form-control-inline.input-large(size='16', type='text', value=user._source.tel, placeholder='tel', name='tel')
                  .form-group
                    label.control-label.col-md-5 Mobile
                    .col-md-3
                      input#mobile.form-control.form-control-inline.input-large(size='16', type='text', value=user._source.mobile, placeholder='mobile', name='mobile')
                  .form-group
                    label.control-label.col-md-5 Email
                    .col-md-3
                      input#email.form-control.form-control-inline.input-large(size='16', type='text', value=user._source.user_email, placeholder='email', name='email')
                  .form-group
                    label.control-label.col-md-5 Whether or not
                    .col-md-3
                      label.control-label.visible-ie8.visible-ie9 Whether or not
                      select#use.select2.form-control(data-show-subtext='true', name='use')
                        option #{user._source.use}
                        option Use
                        option Not                                
                  .form-group
                    label.control-label.col-md-5 Note
                    .col-md-5
                      input#note.form-control.form-control-inline.input-large(size='100', type='text', value=user._source.note, placeholder='note', name='note')
                  .form-group
                    label.control-label.col-md-5 Atteched                    
                    .col-md-3
                      each map in maps
                        .form-group
                          .col-md-6
                            span #{map._source.role_id}
                          .col-md-6
                            td                        
                            a.btn.default.btn-xs.balck(flag='deleteMem', memid=''+map._id)
                              i.fa.fa-trash-o
                              |  Delete
                  .form-group
                    #register_tnc_error(style='text-align:center;')
                    .col-md-10
                      button#register-submit-btn.btn.btn-default.blue.pull-right Save
                    .col-md-2
                      button.btn.btn-default(type='button', onclick="location.href='/management/users'") Cancel               
            .portlet-footer
    p.copyright Copyright M2U Technology All rights reserved.
    a.go2top(href='#index')
      i.icon-arrow-up