extends ../layout-type01
block style
  link(rel='stylesheet', href='/assets/leaflet/leaflet.css')
  link(rel='stylesheet', href='/assets/leaflet/leaflet.markercluster.css')
  link(rel='stylesheet', type='text/css', href='/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
block script
  script(type='text/javascript', src="/scripts/util.js")
  script(type='text/javascript', src='/assets/plugins/datatables/media/js/jquery.dataTables.min.js')
  script(type='text/javascript', src='/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js')
  script(src='/assets/scripts/page/table-managed.js')
  script.
    $(document).ready(function() {

      $('a').click(function(event){
        //- event.preventDefault();
        if ('deleteUser' != $(this).attr('flag')) return;

        var userid = $(this).attr('userid');
        if (userid == "") {
          return false;
        }
        // TODO 메시지 공통 영역으로
        if (confirm("삭제 하시겠습니까? ")) {
          $.ajax({
            url: "/management/users/" + userid,
            dataType: "json",
            type: "DELETE",
            data: {userid : userid},
            success: function(result) {
              alert('(' + result.rtnCode.code + ')' +result.rtnCode.message);
              if (result.rtnCode.code == "D003") {
                location.href = "/management/users";
              }
            },
            error: function(req, status, err) {

              //- alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
              $("#errormsg").html("code:"+status+"\n"+"message:"+req.responseText+"\n"+"error:"+err);
            }
          });
        }

      });

      Metronic.init(); // init metronic core componets
      eyelinkLayout.init(); // init eyelinklayout
      QuickSidebar.init(); // init quick sidebar
      Layout.init(); // init layout
      Demo.init(); // init index page
      ComponentsPickers.init();
      TableManaged.init();
      ComponentsDropdowns.init();
    });

block content
  .container-fluid
    .page-content
      .breadcrumbs
        h1 Users
        ol.breadcrumb
          li
            a(href='#') Home
          li
            a(href='#') Management
          li.active Users
      .row
        .col-md-12
          .portlet.light
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze User List
                span.caption-helper  Detail information about users
              .tools
                button.btn.btn-default.blue(type='button', onclick="location.href='/management/users/addUser'") Add
            .portlet-body.form
              table#sample_2.table.table-striped.table-bordered.table-hover(style='text-align:center;')
                thead
                  tr
                    th(style='text-align:center;')  User ID
                    th(style='text-align:center;')  Name
                    th(style='text-align:center;')  Email
                    th(style='text-align:center;')  Role
                    th(style='text-align:center;')  Reg Date
                    th(style='text-align:center;')  Edit &amp; Delete
                tbody
                  //- each user in users
                  //-   tr.odd.gradeX
                  //-     td  #{user.user_id}

                  //-     td  #{user.user_name}
                  //-     td  #{user.user_email}
                  //-     td
                  //-       if user.user_role === 'Super Manager'
                  //-         span.label.label-sm.label-danger #{user.user_role}
                  //-       else if user.user_role === 'Zone Manager'
                  //-         span.label.label-sm.label-primary #{user.user_role}
                  //-       else if user.user_role === 'Asset Manager'
                  //-         span.label.label-sm.label-info #{user.user_role}
                  //-       else if user.user_role === 'User'
                  //-         span.label.label-sm.label-default #{user.user_role}
                  //-     td  #{user.reg_date}
                      td
                        a.btn.default.btn-xs.balck(href='/management/users/'+user.user_id)
                          i.fa.fa-edit
                          |  Edit
                        a.btn.default.btn-xs.balck(flag='deleteUser', userid=''+ user.user_id)
                          i.fa.fa-trash-o
                          |  Delete          
              