extends ../efmm-layout01
block style
  link(type='text/css', rel='stylesheet', href='/efmm/css/chart_style.css')
  link(type='text/css', rel='stylesheet', href='/efmm/css/analysis_clustering.css')
  link(type='text/css', rel='stylesheet', href='/efmm/assets/css/dc.css')
block script
  script(type='text/javascript', src='/efmm/assets/scripts/d3_dc.js')
  script(src='/efmm/assets/scripts/vue.min.js')
  script(type='text/javascript', src='/efmm/assets/scripts/colorbrewer.js')
  script(type='text/javascript', src="/common/scripts/util.js")
  script(src='/efmm/scripts/analysis_clustering.js')
block content
  .container-fluid
    .page-content
      .breadcrumbs
        h1 Clustering
        ol.breadcrumb
          li
            a(href='/dashboard') Home
          li
            a(href='#') Analysis
          li.active Clustering
      .row
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase.font-blue-sharp Set date and Time interval
            .portlet-body.form
              form.form-horizontal.form-bordered(onsubmit="return false;")
                .form-body
                  .row
                    label.control-label.col-md-1 Date Range
                    .col-md-3
                      .input-group.input-large.date-picker.input-daterange(data-date='2017-01-01', data-date-format='yyyy-mm-dd')
                        input#sdate.form-control(type='text', name='from' value='')
                        span.input-group-addon to
                        input#edate.form-control(type='text', name='to' value='')
                    label.control-label.col-md-1 Interval
                    .col-md-2.form-inline
                      select#interval.form-control.input-small.select2me.form-md-line-input(name='interval')
                        option(value='all') All
                        option(value=1) 1 min
                        option(value=5) 5 min
                        option(value=10) 10 min
                        option(value=15) 15 min
                    label.control-label.col-md-1 Machine
                    .col-md-2.form-inline
                      select#machine-list.form-control.input-small.select2me.form-md-line-input(name='machine')
                        each machine in list
                          option(value=(machine.value)) #{machine}
                    .col-md-1.form-inline
                      button#btn_search.btn.blue
                        i.fa.fa-search  Search
      .row
        .col-md-5
          .portlet.light.bordered(style='height: 520px;')
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase History
                span.caption-helper  Run analysis list
            .portlet-body
              .scroller(style='height: 430px;', data-always-visible='1', data-rail-visible='0')
                table#masterList.table.table-hover.table-light
        .col-md-7
          .portlet.light.bordered(style='height: 520px;')
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Clustering Chart
                span.caption-helper  by Machine
            .form-group.last
              label.control-label.col-md-2 Machine
              .col-md-10
                .btn-group.btn-group-devided(data-toggle='buttons')
                  - for (let i = 0; i < list.length; i++ ) {
                    - let machineId = list[i];
                    - let factor = 'factor'+i;
                      if (i == 0)
                        label.btn.btn-transparent.green-sharp.btn-circle.btn-sm.active
                          input.toggle(type='radio', name='options', value=machineId, checked='Y', id=factor)
                          | #{machineId}
                      else
                        label.btn.btn-transparent.green-sharp.btn-circle.btn-sm
                          input.toggle(type='radio', name='options', value=machineId, id=factor)
                          | #{machineId}
                  - }
            .portlet-body(style='height:auto;')
              .chart(style='height:auto;')
                input#dadate(type='hidden', name='hidden', value='')
                #table
                  .panel.panel-card
                    .panel-body
                      #panel-cluster-list.col-xm-2.col-sm-2.col-md-2.panel-checkbox.hidden-xs.hidden-sm
                        //- 클러스터 개수에 따라 동적으로 생성되는 부분
                      .col-xm-12.col-sm-12.col-md-10.col-xs-12
                        #Cluster(style='width:100%;height:395px;')