extends ../layout-type01
block style  
  link(type='text/css', rel='stylesheet', href='/efsm/assets/css/dc.css')  
  link(rel='stylesheet', href='/efsm/assets/css/d3_timeseries.css')  
  link(type='text/css', rel='stylesheet', href='/efsm/css/chart_style.css')
block script
  script(type='text/javascript', src='/efsm/assets/scripts/d3_dc.js')
  script(type='text/javascript', src='/efsm/assets/scripts/crossfilter.js')
  script(type='text/javascript', src='/efsm/assets/scripts/dc.js')  
  script(type='text/javascript', src='/efsm/assets/scripts/colorbrewer.js')
  script(type='text/javascript', src="/efsm/assets/scripts/d3_timeseries_4.js")
  script(type='text/javascript', src="/common/scripts/util.js")   
  script(type='text/javascript', src='/efsm/scripts/analysis_cluster_detail.js')
block content
  .container-fluid
    .page-content
      .breadcrumbs
        h1 Clustering
        ol.breadcrumb
          li
            a(href='#') Home
          li
            a(href='#') Analysis
          li.active Clustering
      .row
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase.font-blue-sharp Set date and area
                span.caption-helper  Date range and select area
              .actions
                .btn-group.btn-group-devided(data-toggle='buttons')
                  label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm.active
                    input#syncY.toggle(type='radio', name='options', checked='Y')
                    i.fa.fa-chain Sync
                  label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm
                    input#syncN.toggle(type='radio', name='options')
                    i.fa.fa-chain-broken Async
            .portlet-body.form
              form.form-horizontal.form-bordered(onsubmit="return false;")
                .form-body
                  .row
                    .form-group.last
                      label.control-label.col-md-1 Factor
                      .col-md-4
                        .btn-group.btn-group-devided(data-toggle='buttons')
                          label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm.active
                            input#factor0.toggle(type='radio', name='options', value='active_power', checked='Y')
                            | ActivePower
                          label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm
                            input#factor1.toggle(type='radio', name='options', value='voltage')
                            | Voltage
                          label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm
                            input#factor2.toggle(type='radio', name='options', value='ampere')
                            | Ampere
                          label.btn.btn-transparent.grey-salsa.btn-circle.btn-sm
                            input#factor3.toggle(type='radio', name='options', value='power_factor')
                            | Power Factor
                      .col-md-1.form-inline
                        button#btn_factor.btn.blue
                          i.fa.fa-search Change
                      label.control-label.col-md-1 Date Range
                      .col-md-3
                        .input-group.input-large.date-picker.input-daterange(data-date='2017-01-01', data-date-format='yyyy-mm-dd')
                          input#sdate.form-control(type='text', name='from' value='')
                          span.input-group-addon to
                          input#edate.form-control(type='text', name='to' value='')
                      .col-md-1.form-inline
                        button#btn_search.btn.blue
                          i.fa.fa-search Run Analysis
      .row
        .col-md-5
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Total Pattern
                span.caption-helper  Total Pattern
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-pencil
                  |  Edit
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-plus
                  |  Add
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart(style='height:355px;')
                #table
                  .panel.panel-card
                    .panel-body
                      .col-xm-2.col-sm-2.col-md-2.panel-checkbox.hidden-xs.hidden-sm
                        input#c0.click_checkbox(type='checkbox', name='ck0', value='1', v-on='click:checkOpt', checked='true')
                        text  Cluster0
                        br
                        input#c1.click_checkbox(type='checkbox', name='c1', value='2', v-on='click:checkOpt', checked='true')
                        text  Cluster1
                        br
                        input#c2.click_checkbox(type='checkbox', name='c2', value='3', v-on='click:checkOpt', checked='true')
                        text  Cluster2
                        br
                        input#c3.click_checkbox(type='checkbox', name='c3', value='4', v-on='click:checkOpt', checked='true')
                        text  Cluster3
                      .col-xm-12.col-sm-12.col-md-10.col-xs-12
                        #Cluster(style='width:100%;height:345px;')
        .col-md-3
          .portlet.light.bordered.tasks-widget
            .portlet-title
              .caption.caption-md.font-blue
                i.icon-calendar.font-blue
                span.caption-subject.theme-font.bold.uppercase Clustering
              .inputs
                .portlet-input.input-small.input-inline
                  .input-icon.right
                    i.icon-magnifier
                    input.form-control.form-control-solid(type='text', placeholder='search...')
            .portlet-body
                .scroller(style='height: 350px;', data-always-visible='1', data-rail-visible1='0', data-handle-color='#D7DCE2')
                 .table-scrollable.table-scrollable-borderless
                  table#tblClusterDir.table.table-hover.table-light
                    thead
                    tr.uppercase
                      th Cluster
                      th ID
        .col-md-4
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase Pattern by Node
                span.caption-helper  Pattern by Node
              .actions
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-pencil
                  |  Edit
                a.btn.btn-default.btn-sm(href='#')
                  i.fa.fa-plus
                  |  Add
                a.btn.btn-icon-only.btn-default.fullscreen(href='#')
            .portlet-body
              .chart(style='height:350px;')
                #nodeChart
      .row
        .col-md-3
          .portlet.light
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-blue-sharp Power
                span.caption-helper  Power
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body(style='height:auto;')
             .chart
              #ts-chart01
        .col-md-3
          .portlet.light.bordered
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze ALS/Dimming
                span.caption-helper  ALS/Dimming
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body
              .chart
                #ts-chart02
        .col-md-3
          .portlet.light.bordered
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Noise
                span.caption-helper  Noise
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body
              .chart
                #ts-chart03
        .col-md-3
          .portlet.light.bordered
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Vibration
                span.caption-helper  Vibration
              .tools
                a.collapse(href='javascript:;')
                a.config(href='#portlet-config', data-toggle='modal')
                a.reload(href='javascript:;')
                a.fullscreen(href='javascript:;')
                a.remove(href='javascript:;')
            .portlet-body
              .chart
                #ts-chart04
        //- .row
        //-   .col-md-6
        //-     .portlet.light.bordered
        //-       .portlet-title
        //-         .caption.caption-md.font-blue
        //-           i.icon-share.font-blue
        //-           |  
        //-           span.caption-subject.theme-font.bold.uppercase History
        //-         .actions
        //-           .btn-group
        //-             a.btn.btn-sm.btn-default.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
        //-               | Filter By
        //-               i.fa.fa-angle-down
        //-             .dropdown-menu.hold-on-click.dropdown-checkboxes.pull-right
        //-               label
        //-                 input(type='checkbox', checked='')
        //-                 |  Membership
        //-               |  
        //-               label
        //-                 input(type='checkbox')
        //-                 |  Customer Support
        //-               |  
        //-               label
        //-                 input(type='checkbox', checked='')
        //-                 |  HR
        //-               |  
        //-               label
        //-                 input(type='checkbox')
        //-                 |  System
        //-       .portlet-body
        //-         .scroller(style='height: 308px;', data-always-visible='1', data-rail-visible='0')
        //-           ul.feeds
        //-             each da in master
        //-               li
        //-                 .col1
        //-                   .cont
        //-                     .cont-col1
        //-                       .label.label-sm.label-info
        //-                         i.fa.fa-check
        //-                     .cont-col2
        //-                       .desc
        //-                         | #{da.da_date} : [ #{da.start_date} - #{da.end_date} ]
        //-                 .col2
        //-                   .date  #{da.time_interval} min
        //-   .col-md-6
        //-     .portlet.light.bordered
        //-       .portlet-title.tabbable-line
        //-         .caption.caption-md.font-red-sunglo
        //-           i.icon-globe.font-red-sunglo
        //-           |  
        //-           span.caption-subject.theme-font.bold.uppercase Detail
        //-         ul.nav.nav-tabs
        //-           li.active
        //-             a(href='#tab_1_1', data-toggle='tab') System
        //-           li
        //-             a(href='#tab_1_2', data-toggle='tab') Activities
        //-       .portlet-body
        //-         .tab-content
        //-           #tab_1_1.tab-pane.active
        //-             .scroller(style='height: 337px;', data-always-visible='1', data-rail-visible1='0', data-handle-color='#D7DCE2')
        //-               ul.feeds
        //-                 each clus in detail                          
        //-                   li
        //-                     .col1
        //-                       .cont
        //-                         .cont-col1
        //-                           .label.label-sm.label-info
        //-                             i.fa.fa-bullhorn
        //-                         .cont-col2
        //-                           .desc  voltage : #{clus.c0_voltage}, #{clus.c1_voltage}, #{clus.c2_voltage}, #{clus.c3_voltage} / ampere : #{clus.c0_ampere}, #{clus.c1_ampere}, #{clus.c2_ampere}, #{clus.c3_ampere} / active_power : #{clus.c0_active_power}, #{clus.c1_active_power}, #{clus.c2_active_power}, #{clus.c3_active_power} / power_factor : #{clus.c0_power_factor}, #{clus.c1_power_factor}, #{clus.c2_power_factor}, #{clus.c3_power_factor} / 
        //-                     .col2
        //-                       .date  #{clus.event_time}