doctype html
html
  head
    meta(charset='utf-8')
    title= title
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(content='', name='description')
    meta(content='', name='author')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')
    link(href='/common/assets/fonts/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='/common/assets/fonts/simple-line-icons/simple-line-icons.min.css', rel='stylesheet', type='text/css')
    link(href='/common/assets/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/common/assets/css/uniform.default.css', rel='stylesheet', type='text/css')
    link(href='/common/assets/css/bootstrap-switch.min.css', rel='stylesheet', type='text/css')    
    link(href='/common/assets/plugins/morris.css', rel='stylesheet', type='text/css')
    link(href='/common/assets/plugins/tasks.css', rel='stylesheet', type='text/css')
    link#style_components(href='/common/assets/css/eyelink-components.css', rel='stylesheet', type='text/css')
    link(href='/common/assets/css/plugins.css', rel='stylesheet', type='text/css')
    link(href='/common/assets/css/eyelink-layout.css', rel='stylesheet', type='text/css')
    link(href='/common/assets/css/eyelink-custom.css', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='/common/assets/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')    
    link(rel='stylesheet', type='text/css', href='/common/assets/annie/css/style.css')
    link(rel='stylesheet', type='text/css', href='/common/assets/sample/style/sampleES_detail.css')      
    link(rel='stylesheet', type='text/css', href='/common/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css')
    script(src='/common/assets/scripts/libs/jquery.min.js', type='text/javascript')
    script(src='/common/assets/scripts/libs/jquery-migrate.min.js', type='text/javascript')
    script(src='/common/assets/scripts/libs/bootstrap.min.js', type='text/javascript')
    script(src='/common/assets/scripts/libs/bootstrap-hover-dropdown.min.js', type='text/javascript')
    script(src='/common/assets/scripts/libs/jquery.slimscroll.min.js', type='text/javascript')
    script(src='/common/assets/scripts/libs/jquery.blockui.min.js', type='text/javascript')
    script(src='/common/assets/scripts/libs/jquery.uniform.min.js', type='text/javascript')        
    script(src='/common/assets/scripts/libs/bootstrap-switch.min.js', type='text/javascript')
    script(src='/common/assets/scripts/libs/select2.js', type='text/javascript')    
    script(src='/common/assets/plugins/tasks.js', type='text/javascript')
    script(type='text/javascript', src='/common/assets/leaflet/d3.js')
    script(src='/common/assets/annie/js/vue.min.js')    
    script(type='text/javascript', src="/scripts/util.js")
    script(type='text/javascript', src='/common/assets/plugins/datatables/media/js/jquery.dataTables.min.js')
    script(type='text/javascript', src='/common/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js')
    script(src='/common/assets/scripts/page/table-managed.js')     
    script(src='/common/assets/scripts/eyelink-ui.js', type='text/javascript')
    script(src='/common/assets/scripts/eyelink-layout.js', type='text/javascript')
    script(src='/common/assets/scripts/eyelink-quick-sidebar.js', type='text/javascript')
    script(src='/common/assets/scripts/page/layout.js', type='text/javascript')
    script(src='/common/assets/scripts/page/demo.js', type='text/javascript')
    script.
      jQuery(document).ready(function() {          
        Metronic.init(); // init metronic core componets
        eyelinkLayout.init(); // init layout
        QuickSidebar.init(); // init quick sidebar
        Layout.init(); // init layout
        Demo.init(); // init index page        
        TableManaged.init();        
      });
block content
  body.body-popup
    .wrapper
      header.page-header
      .container-fluid
        .content-popup
          .popup-tit-box           
           .row
             .col-md-12
                h1 EyeLink
          .row
            .col-md-12
              .portlet.light.bordered               
                .portlet-body.form                                 
                  table#sample_2.table.table-striped.table-bordered.table-hover(style='text-align:center; width:99%')
                    thead
                      tr
                        th #
                        th(style='text-align:center;') Time
                        th(style='text-align:center;') Path
                        th(style='text-align:center;') Res.(ms)
                        th(style='text-align:center;') Res Code
                        th(style='text-align:center;') Bytes
                        th(style='text-align:center;') Offset
                        th(style='text-align:center;') Client IP
                    tbody
                      each data in list      
                        tr.odd.gradeX(id=data._id)
                          td
                          td #{data._source.timestamp}
                          td(style='text-align:left;') #{data._source.request}
                          td #{data._source.responsetime}
                          td #{data._source.response}
                          td #{data._source.bytes}    
                          td #{data._source.offset}    
                          td #{data._source.clientip}