extends ../efmm-layout01
block style
  link(rel='stylesheet', type='text/css', href='/common/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css')
block script
  script(type='text/javascript', src='/common/assets/plugins/datatables/media/js/jquery.dataTables.min.js')
  script(type='text/javascript', src='/common/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js')
  script(src='/common/assets/scripts/page/table-managed.js')
  script(type='text/javascript', src='/efmm/scripts/management_recipe.js')
  script.
    var machineList = !{JSON.stringify(rtnData.machineList)};

block content
  .container-fluid
    .page-content
      .breadcrumbs
        h1 Recipes
        ol.breadcrumb
          li
            a(href='#') Home
          li
            a(href='#') Management
          li.active Recipes
      .row
        .col-md-12
          .portlet.light.bordered
            .portlet-title
              .caption.font-dark
                span.caption-subject.bold.uppercase.font-blue-sharp selection
                span.caption-helper
            .portlet-body.form
              form.form-horizontal.form-bordered(onsubmit="return false;")
                .form-body
                  .row
                    label.control-label.col-md-1 Step
                    .col-md-2.form-inline
                      select#searchStep.form-control.input-small.select2me.form-md-line-input(name='searchStep', condData=condData.step)
                        option(value='')
                          each code in commoncode.step
                            - if (code.key.includes(condData.step))
                              option(value=code.key, selected) #{code.value}
                            - else
                              option(value=code.key) #{code.value}
                    label.control-label.col-md-1 Machine
                    .col-md-2.form-inline
                      select#searchCid.form-control.input-small.select2me.form-md-line-input(name='searchCid', condData=condData.cid)
                        each machine in rtnData.machine
                          option(value=machine.key) #{machine.value}
                    .col-md-2.form-inline
                      button#search-recipe-btn.btn.blue
                        i.fa.fa-search  Search
      .row
        .col-md-12
          .portlet.light
            .portlet-title
              .caption
                span.caption-subject.bold.uppercase.font-green-haze Recipe List
                span.caption-helper  Detail information about Recipes
              .tools
                button#list-add-btn.btn.btn-default.blue Add
            .portlet-body.form
              .row
                .col-md-12
                  table#assetPartList.table.table-striped.table-bordered.table-hover(style='text-align:center;')
                    thead
                      tr
                        th(style='text-align:center;') Type
                        th(style='text-align:center;') Name
                        th(style='text-align:center;') Description
                        th(style='text-align:center;') Unit
                        th(style='text-align:center;') Value
                        th(style='text-align:center;') Last Update
                    tbody
                      each data in rtnData.data
                        - var item = data._source
                        tr.odd.gradeX
                          td #{item.type}
                          td
                            a(href='javascript:goViewEditRecipe("'+item.id+ '")') #{item.name}
                          td #{item.description}
                          td #{item.unit}
                          td #{item.datavalue}
                          td #{item.updatetimestamp}
